# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build
dist/
build/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor/IDE folders
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# TypeScript
tsconfig.tsbuildinfo

# Optional: Husky
.husky/_/